.messages-list {
	padding: 0 30px;
}

.messages-block {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	display: flex;
	flex-direction: column;

	&__time {
		font-size: 12px;
		line-height: 18px;
		text-align: center;
		letter-spacing: 1px;
		margin: 0 0 15px 0;
		padding-top: 5px;
	}

	&__get {
		background-color: $background__chatGet;
		border-radius: 20px;
		padding: 8px 17px;
		margin: 0 23px 12px 0;
		width: fit-content;
		min-width: 52px;
		min-height: 42px;
		display: flex;
		justify-content: center;
		align-items: center;
		align-self: flex-start;
		text-align: start;
		overflow-wrap: anywhere;
	}

	&__set {
		background-color: $background__chatSet;
		border-radius: 20px;
		padding: 8px 17px;
		margin: 0 0 12px 23px;
		width: fit-content;
		min-width: 52px;
		min-height: 42px;
		display: flex;
		justify-content: center;
		align-items: center;
		align-self: flex-end;
		text-align: end;
		overflow-wrap: anywhere;
	}
}

.messages{
	padding: 123px 26px 37px 26px;
}

.message-send {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-radius: 25px;
	padding: 6px 10px 6px 8px;
	background-color: $background__message;

	&__photo {
		margin: 0 14px 2px 0;
		background-color: $background__photoSend;
		border-radius: 50%;
		min-width: 32px;
		min-height: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	& input {
		opacity: -1;
		width: 0px;
		height: 0px;
	}

	&__text {
		flex-basis: 100%;
		margin-right: 4px;
			
		& .textarea{
			resize: none;
			padding: 5px 0 0 0;
			overflow: hidden;
			box-sizing: border-box;
			height: 33px;
			min-height: 33px;
			width: 100%;
			background-color: $background__message;
			color: $main-color__whiteTransparent_message;
			font-family: $font__Mulish;
			font-style: normal;
			font-weight: 600;
			font-size: 13px;
			line-height: 24px;
		}
	}

	&__set {
		margin: 0 0 5px 0;
		background-color: $background__message;
	}
}