$background__nonBasic: #E5E5E5;
$background__contacts: #1B202D;
$background__chatList: #292F3F;
$background__chatGet: #373E4E;
$background__chatSet: #7A8194;
$background__photoSend:#9398A7;
$background__message:#3D4354;

$main-color__grey: #B3B9C9; 
$main-color__white: #FFFFFF;
$main-color__whiteTransparent_contacts: #ffffff94;
$main-color__whiteTransparent_message: #ffffff73;
$shadow__photo: #00000073;

$font__SfProText: 'SF Pro Text', sans-serif;
$font__Poppins: 'Poppins', sans-serif;
$font__Mulish: 'Mulish', sans-serif;